PORT=8080
LOG_LEVEL=DEBUG

DB_HOST=localhost
DB_PORT=5432
DB_USER=dbuser
DB_PASSWORD=dbpassword
DB_NAME=mydb
SSL_MODE=disable
DB_AUTO_MIGRATE=true

JWT_SECRET=mysecret
JWT_ISSUER=mycompany
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=720h

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
